body {
   background-color: #DADADA;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-text {
  width: 450px;
  height: 250px;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  justify-items: center;
  background-color: white;
}

.input {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error-message {
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
  border: 1px solid red;
  padding: 4px;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.5);
  color: red;
}

.login-form {
  margin-left: 75px;
  width: 450px;
  height: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.login-text h2 {
  font-size: 32px;
}

#login-button {
  margin-top: 10px;
  width: 410px;
  background-color: royalblue;
  color: white;
  margin-bottom: 10px;
}

.bottom-link{
  text-align: center;
}